body {
        font-family: open_sansregular, sans-serif;
        background-color: #222;
    }

table, td { width: 100%; padding: 0; }

table td { padding: 10px 20px; font-weight: bold; border-bottom: 1px solid #000; }
.black-td { background-color: #000; }
    
.headerBar { background: #030303 bottom left repeat-x url(../images/gradient-divider.png); font-weight: bold; color: #FFF; z-index: 100000; }

.navbar {
    background-color: #030303;
    color: #d4d4d4;
    font-family: open_sansbold, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding: 10px;
    text-align: center;
    z-index: 1;
}
.navigation { z-index: 1000000000000;}

.navigation .tab-icon { width: 80px; height: 49px; top: 1px; display: block; margin: 0 auto; background-color: #212121; }
.navigation.on .tab-icon { background-color: #000; }

.services-icon { background: transparent top left no-repeat url(../images/services-off2x.png); background-size: 80px 49px; }
.navigation.on .services-icon { background-image: url(../images/services-on2x.png); }

.feedback-icon { background: transparent top left no-repeat url(../images/feedback-off2x.png); background-size: 80px 49px; }
.navigation.on .feedback-icon { background-image: url(../images/feedback-on2x.png); }

.mirror-icon { background: transparent top left no-repeat url(../images/mirror-off2x.png); background-size: 80px 49px; }
.navigation.on .mirror-icon { background-image: url(../images/mirror-on2x.png); }

.menu-icon { background: transparent top left no-repeat url(../images/menu-off2x.png); background-size: 80px 49px; }
.navigation.on .menu-icon { background-image: url(../images/menu-on2x.png); }


.tab-icon  {
    width: 80px; height: 49px;
    display: block;
    margin: 0 auto;
 }

.navigation {
    z-index: 1;
}

.navigation.off {
    color: #999;
    background: #212121;
}

.navigation.on {
    color: #d4d4d4;
    background: #000;
}

.navigation .icon {
    display: inline-block;
    width: 80px; height: 49px;
}

p {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.gridBackground { background-color: #212121; }

.service-button { color: #808080; padding-top: 90px; text-align: center; display: block; width: 77px; height: 117; }

.google-button { background: transparent top left no-repeat url(../images/google-service-off.png); background-size: 77px 77px; }
.services.on .google-button { background-image: url(../images/google-service-on.png); }

.linkedIn-button { background: transparent top left no-repeat url(../images/linkdin-service-off.png); background-size: 77px 77px; }
.services.on .linkedIn-button { background-image: url(../images/linkdin-service-on.png); }

.twitter-button { background: transparent top left no-repeat url(../images/twitter-service-off.png); background-size: 77px 77px; }
.services.on .twitter-button { background-image: url(../images/twitter-service-on.png); }

.citizenme-button { background: transparent top left no-repeat url(../images/citizenme-service-off.png); background-size: 77px 77px; }
.services.on .citizenme-button { background-image: url(../images/citizenme-service-on.png); }

.instagram-button { background: transparent top left no-repeat url(../images/instagram-service-off.png); background-size: 77px 77px; }
.services.on .instagram-button { background-image: url(../images/instagram-service-on.png); }

.facebook-button { background: transparent top left no-repeat url(../images/facebook-service-off.png); background-size: 77px 77px; }
.services.on .facebook-button { background-image: url(../images/facebook-service-on.png); }

.gridContainer .famous-container-group {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    }

/* Circles */
.mirror.profile {
    background: transparent top left no-repeat url(../images/mirror/profile.png); background-size: cover;
}
.mirror.profile.hide {
    display: none;
}
.lens.profile {
    background: transparent top left no-repeat url(../images/lenses/profile.png); background-size: cover;
}
.lens.profile.hide {
    display: none;
}
.mirror.youtube.red {
    background: transparent top left no-repeat url(../images/mirror/youtube-red.png); background-size: cover;
}
.mirror.youtube.green {
    background: transparent top left no-repeat url(../images/mirror/youtube-green.png); background-size: cover;
}
.mirror.youtube.hide { display: none; }
.lens.youtube {
    background: transparent top left no-repeat url(../images/lenses/youtube-lens.png); background-size: cover;
}
.lens.youtube.hide { display: none; }
.mirror.facebook.red {
    background: transparent top left no-repeat url(../images/mirror/facebook-red.png); background-size: cover;
}
.mirror.facebook.green {
    background: transparent top left no-repeat url(../images/mirror/facebook-green.png); background-size: cover;
}
.lens.facebook {
    background: transparent top left no-repeat url(../images/lenses/facebook-lens.png); background-size: cover;
}
.mirror.facebook.hide, .lens.facebook.hide { display: none;}
.mirror.instagram.red {
    background: transparent top left no-repeat url(../images/mirror/instagram-red.png); background-size: cover;
}
.mirror.instagram.green {
    background: transparent top left no-repeat url(../images/mirror/instagram-green.png); background-size: cover;
}
.lens.instagram {
    background: transparent top left no-repeat url(../images/lenses/instagram-lens.png); background-size: cover;
}
.mirror.instagram.hide, .lens.instagram.hide { display: none;}
.mirror.tumblr.red {
    background: transparent top left no-repeat url(../images/mirror/tumblr-red.png); background-size: cover;
}
.mirror.tumblr.green {
    background: transparent top left no-repeat url(../images/mirror/tumblr-green.png); background-size: cover;
}
.lens.tumblr {
    background: transparent top left no-repeat url(../images/lenses/tumblr-lens.png); background-size: cover;
}
.mirror.tumblr.hide, .lens.tumblr.hide { display: none;}
.mirror.twitter.red {
    background: transparent top left no-repeat url(../images/mirror/twitter-red.png); background-size: cover;
}
.mirror.twitter.green {
    background: transparent top left no-repeat url(../images/mirror/twitter-green.png); background-size: cover;
}
.lens.twitter {
    background: transparent top left no-repeat url(../images/lenses/twitter-lens.png); background-size: cover;
}
.mirror.twitter.hide, .lens.twitter.hide { display: none;}
.mirror.linkedin.red {
    background: transparent top left no-repeat url(../images/mirror/linkedin-red.png); background-size: cover;
}
.mirror.linkedin.green {
    background: transparent top left no-repeat url(../images/mirror/linkedin-green.png); background-size: cover;
}
.lens.linkedin {
    background: transparent top left no-repeat url(../images/lenses/linkedin-lens.png); background-size: cover;
}
.mirror.linkedin.hide, .lens.linkedin.hide { display: none;}
.mirror.gplus.red {
    background: transparent top left no-repeat url(../images/mirror/gplus-red.png); background-size: cover;
}
.mirror.gplus.green {
    background: transparent top left no-repeat url(../images/mirror/gplus-green.png); background-size: cover;
}
.lens.gplus {
    background: transparent top left no-repeat url(../images/lenses/gplus-lens.png); background-size: cover;
}
.mirror.gplus.hide, .lens.gplus.hide { display: none;}
.mirror.citizenme {
    background: transparent top left no-repeat url(../images/mirror/citizenme-black.png); background-size: cover;
}
.lens.citizenme {
    background: transparent top left no-repeat url(../images/lenses/citizenme-lens.png); background-size: cover;
}
.mirror.citizenme.hide, .lens.citizenme.hide { display: none; }
.mirror.dropbox.red {
    background: transparent top left no-repeat url(../images/mirror/dropbox-red.png); background-size: cover;
}
.mirror.dropbox.green {
    background: transparent top left no-repeat url(../images/mirror/dropbox-green.png); background-size: cover;
}
.lens.dropbox {
    background: transparent top left no-repeat url(../images/lenses/dropbox-lens.png); background-size: cover;
}
.mirror.dropbox.hide, .lens.dropbox.hide { display: none; }
.mirror.amazon.red {
    background: transparent top left no-repeat url(../images/mirror/amazon-red.png); background-size: cover;
}
.mirror.amazon.green {
    background: transparent top left no-repeat url(../images/mirror/amazon-green.png); background-size: cover;
}
.lens.amazon {
    background: transparent top left no-repeat url(../images/lenses/amazon-lens.png); background-size: cover;
}
.mirror.amazon.hide, .lens.amazon.hide { display: none; }
.mirror.apple.red {
    background: transparent top left no-repeat url(../images/mirror/apple-red.png); background-size: cover;
}
.mirror.apple.green {
    background: transparent top left no-repeat url(../images/mirror/apple-green.png); background-size: cover;
}
.lens.apple {
    background: transparent top left no-repeat url(../images/lenses/apple-lens.png); background-size: cover;
}
.mirror.apple.hide, .lens.apple.hide { display: none; }
.mirror.delicious.red {
    background: transparent top left no-repeat url(../images/mirror/delicious-red.png); background-size: cover;
}
.mirror.delicious.green {
    background: transparent top left no-repeat url(../images/mirror/delicious-green.png); background-size: cover;
}
.lens.delicious {
    background: transparent top left no-repeat url(../images/lenses/delicious-lens.png); background-size: cover;
}
.mirror.delicious.hide, .lens.delicious.hide { display: none; }
.mirror.duck.red {
    background: transparent top left no-repeat url(../images/mirror/duckduckgo-red.png); background-size: cover;
}
.mirror.duck.green {
    background: transparent top left no-repeat url(../images/mirror/duckduckgo-green.png); background-size: cover;
}
.lens.duck {
    background: transparent top left no-repeat url(../images/lenses/duckduckgo-lens.png); background-size: cover;
}
.mirror.duck.hide, .lens.duck.hide { display: none; }
.mirror.evernote.red {
    background: transparent top left no-repeat url(../images/mirror/evernote-red.png); background-size: cover;
}
.mirror.evernote.green {
    background: transparent top left no-repeat url(../images/mirror/evernote-green.png); background-size: cover;
}
.lens.evernote {
    background: transparent top left no-repeat url(../images/lenses/evernote-lens.png); background-size: cover;
}
.mirror.evernote.hide, .lens.evernote.hide { display: none; }
.mirror.flickr.red {
    background: transparent top left no-repeat url(../images/mirror/flickr-red.png); background-size: cover;
}
.mirror.flickr.green {
    background: transparent top left no-repeat url(../images/mirror/flickr-green.png); background-size: cover;
}
.lens.flickr {
    background: transparent top left no-repeat url(../images/lenses/flickr-lens.png); background-size: cover;
}
.mirror.flickr.hide, .lens.flickr.hide { display: none; }
.mirror.foursquare.red {
    background: transparent top left no-repeat url(../images/mirror/foursquare-red.png); background-size: cover;
}
.mirror.foursquare.green {
    background: transparent top left no-repeat url(../images/mirror/foursquare-green.png); background-size: cover;
}
.lens.foursquare {
    background: transparent top left no-repeat url(../images/lenses/foursquare-lens.png); background-size: cover;
}
.mirror.foursquare.hide, .lens.foursquare.hide { display: none; }
.mirror.github.red {
    background: transparent top left no-repeat url(../images/mirror/github-red.png); background-size: cover;
}
.mirror.github.green {
    background: transparent top left no-repeat url(../images/mirror/github-green.png); background-size: cover;
}
.lens.github {
    background: transparent top left no-repeat url(../images/lenses/github-lens.png); background-size: cover;
}
.mirror.github.hide, .lens.github.hide { display: none; }
.mirror.microsoft.red {
    background: transparent top left no-repeat url(../images/mirror/microsoft-red.png); background-size: cover;
}
.mirror.microsoft.green {
    background: transparent top left no-repeat url(../images/mirror/microsoft-green.png); background-size: cover;
}
.lens.microsoft {
    background: transparent top left no-repeat url(../images/lenses/microsoft-lens.png); background-size: cover;
}
.mirror.microsoft.hide, .lens.microsoft.hide { display: none; }
.mirror.myspace.red {
    background: transparent top left no-repeat url(../images/mirror/myspace-red.png); background-size: cover;
}
.mirror.myspace.green {
    background: transparent top left no-repeat url(../images/mirror/myspace-green.png); background-size: cover;
}
.lens.myspace {
    background: transparent top left no-repeat url(../images/lenses/myspace-lens.png); background-size: cover;
}
.mirror.myspace.hide, .lens.myspace.hide { display: none; }
.mirror.path.red {
    background: transparent top left no-repeat url(../images/mirror/path-red.png); background-size: cover;
}
.mirror.path.green {
    background: transparent top left no-repeat url(../images/mirror/path-green.png); background-size: cover;
}
.lens.path {
    background: transparent top left no-repeat url(../images/lenses/path-lens.png); background-size: cover;
}
.mirror.path.hide, .lens.path.hide { display: none; }
.mirror.pinterest.red {
    background: transparent top left no-repeat url(../images/mirror/pinterest-red.png); background-size: cover;
}
.mirror.pinterest.green {
    background: transparent top left no-repeat url(../images/mirror/pinterest-green.png); background-size: cover;
}
.lens.pinterest {
    background: transparent top left no-repeat url(../images/lenses/pinterest-lens.png); background-size: cover;
}
.mirror.pinterest.hide, .lens.pinterest.hide { display: none; }
.mirror.skype.red {
    background: transparent top left no-repeat url(../images/mirror/skype-red.png); background-size: cover;
}
.mirror.skype.green {
    background: transparent top left no-repeat url(../images/mirror/skype-green.png); background-size: cover;
}
.lens.skype {
    background: transparent top left no-repeat url(../images/lenses/skype-lens.png); background-size: cover;
}
.mirror.skype.hide, .lens.skype.hide { display: none; }
.mirror.soundcloud.red {
    background: transparent top left no-repeat url(../images/mirror/soundcloud-red.png); background-size: cover;
}
.mirror.soundcloud.green {
    background: transparent top left no-repeat url(../images/mirror/soundcloud-green.png); background-size: cover;
}
.lens.soundcloud {
    background: transparent top left no-repeat url(../images/lenses/soundcloud-lens.png); background-size: cover;
}
.mirror.soundcloud.hide, .lens.soundcloud.hide { display: none; }
.mirror.spotify.red {
    background: transparent top left no-repeat url(../images/mirror/spotify-red.png); background-size: cover;
}
.mirror.spotify.green {
    background: transparent top left no-repeat url(../images/mirror/spotify-green.png); background-size: cover;
}
.lens.spotify {
    background: transparent top left no-repeat url(../images/lenses/spotify-lens.png); background-size: cover;
}
.mirror.spotify.hide, .lens.spotify.hide { display: none; }
.mirror.wordpress.red {
    background: transparent top left no-repeat url(../images/mirror/wordpress-red.png); background-size: cover;
}
.mirror.wordpress.green {
    background: transparent top left no-repeat url(../images/mirror/wordpress-green.png); background-size: cover;
}
.lens.wordpress {
    background: transparent top left no-repeat url(../images/lenses/wordpress-lens.png); background-size: cover;
}
.mirror.wordpress.hide, .lens.wordpress.hide { display: none; }
.mirror.yahoo.red {
    background: transparent top left no-repeat url(../images/mirror/yahoo-red.png); background-size: cover;
}
.mirror.yahoo.green {
    background: transparent top left no-repeat url(../images/mirror/yahoo-green.png); background-size: cover;
}
.lens.yahoo {
    background: transparent top left no-repeat url(../images/lenses/yahoo-lens.png); background-size: cover;
}
.mirror.yahoo.hide, .lens.yahoo.hide { display: none; }
.mirror.yelp.red {
    background: transparent top left no-repeat url(../images/mirror/yelp-red.png); background-size: cover;
}
.mirror.yelp.green {
    background: transparent top left no-repeat url(../images/mirror/yelp-green.png); background-size: cover;
}
.lens.yelp {
    background: transparent top left no-repeat url(../images/lenses/yelp-lens.png); background-size: cover;
}
.mirror.yelp.hide, .lens.yelp.hide { display: none; }
.mirror.stumbledupon.red {
    background: transparent top left no-repeat url(../images/mirror/stumbledupon-red.png); background-size: cover;
}
.mirror.stumbledupon.green {
    background: transparent top left no-repeat url(../images/mirror/stumbledupon-green.png); background-size: cover;
}
.lens.stumbledupon {
    background: transparent top left no-repeat url(../images/lenses/stumbledupon-lens.png); background-size: cover;
}
.mirror.stumbledupon.hide, .lens.stumbledupon.hide { display: none; }
.mirror.twitpic.red {
    background: transparent top left no-repeat url(../images/mirror/twitpic-red.png); background-size: cover;
}
.mirror.twitpic.green {
    background: transparent top left no-repeat url(../images/mirror/twitpic-green.png); background-size: cover;
}
.lens.twitpic {
    background: transparent top left no-repeat url(../images/lenses/twitpic-lens.png); background-size: cover;
}
.mirror.twitpic.hide, .lens.twitpic.hide { display: none; }

/* Lense Icons */
.profile-icon { background:  transparent top left no-repeat url(../images/icons/settings-bubble-flat.png); background-size: cover; }
.profile-icon.off { display: none; }
.linkedin + .profile-icon { left: 38px; top: -115px; }
.youtube + .profile-icon { top: -72px; left: -10px; }
.facebook + .profile-icon { top: -80px; left: 26px; }
.instagram + .profile-icon { top: -135px; left: -26px; }
.tumblr + .profile-icon { top: -145px; left: 10px; }
.gplus + .profile-icon { top: -124px; left: -60px; }
.twitter + .profile-icon { top: -100px; left: -36px; }
.profile + .profile-icon { top: -108px; }
.citizenme + .profile-icon { top: -89px; left: 62px; }
.dropbox + .profile-icon { top: -61px; left: -46px; }
.amazon + .profile-icon { top: -55px; left: 55px; }
.apple + .profile-icon { top: -45px; left: 18px; }
.delicious + .profile-icon { top: -33px; left: -20px; }
.duck + .profile-icon { top: -23px; left: -57px; }
.evernote + .profile-icon { top: -50px; left: -85px; }
.flickr + .profile-icon { top: -88px; left: -74px; }
.foursquare + .profile-icon { top: -115px; left: -102px; }
.github + .profile-icon { top: -63px; left: 95px; }
.microsoft + .profile-icon { top: -27px; left: 83px; }
.myspace + .profile-icon { top: -17px; left: 46px; }
.path + .profile-icon { top: -8px; left: 10px; }
.pinterest + .profile-icon { top: -100px; left: 105px; }
.skype + .profile-icon { top: -129px; left: 75px; }
.soundcloud + .profile-icon { top: -155px; left: 50px; }
.spotify + .profile-icon { top: -172px; left: -17px; }
.wordpress + .profile-icon { top: -164px; left: -55px; }
.yahoo + .profile-icon { top: -182px; left: 19px; }
.yelp + .profile-icon { top: -163px; left: 84px; }
.stumbledupon + .profile-icon { top: -154px; left: -88px; }
.twitpic + .profile-icon { top: -193px; left: 55px; }


